
body{
   
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;

}
h1{font-size: 375%;
    margin-top: 0;
    font-family: 'Sacramento', cursive;
    margin: 50px auto 0 auto;
   color: #66BFBF;
 
}
h2{
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
a{
    color: #11999E;
}
hr{
    color: #40514e;
    border: dotted 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}


.top{
   position: relative;
   padding-top: 100px;
    background-color: #e4f9f5;
}
.btncloud{
position: absolute;
left: 300px;
bottom: 300px;
}
.topcloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
.bottom-container{
background-color: #66BFBF;
margin-top: 50px;
padding: 20px 0 20px;
}
.middle-container{

}
.profile-pic{
    width: 25%;
}

.profile-pic2{
    width: 30%;
    float: left;
    margin-right:  30px;
}
.profile-pic3{
    width: 30%;
    float: right;
    margin-right:  30px;
}
.skill-row{
    width: 50%; 
    margin: 100px auto 250px auto;
  text-align: left;
  line-height: 2;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc48d);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc48d);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc48d);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc48d);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc48d);
    text-decoration: none;
  }